node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

#
pnpm-lock.yaml